body{
    margin: 0;
    padding: 0;
    border: 0;
}
header{
    display: block;
    background-color: #f0b5fc;
}
h1{
    font-size: 350%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #791b61;
    padding: 1%;
    margin-top: 0;
}
.info{
    text-align: justify;
    width: 50%;
    margin-left: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.info2{
    text-align: justify;
    margin-left: 55%;
    margin-right: 2%;
    margin-top: 0;
    padding-top: 0;
    border-top: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.tabInfo{
    color: #f0b5fc;
    margin: 0 auto;
    padding-top: 0;
    border-top: 0;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color:#ffffff;
}
.tabInfo td, .tabInfo th{
    border: 3px  #e98bbf;
    padding: 13px;
}
.tabInfo .linTH{
    color:#791b61;
    text-align: center;
    vertical-align: middle;
   background-color:#ffffff;

}
.tabInfo img{
    width: 100%;
    height: 100%;
}
.pers{
    max-width: 300px;
    min-width: 210px;
    max-height: 220px;
    min-height: 210px;
}
#nomeb{    
    margin-top: 0;
    padding: 1%;
}

embed{
    width:585px;
    height:330px;
    margin-left: 4%;
}
article#in{
    margin: 0;
}
address{
    background-color: #f0b5fc;
    display: block;
    margin-top: 1%;
    padding: 1.5%;
}
p#contato{
    color: #791b61;
    font-size: 20px;
    margin-left: 2%;
}
a{
    color: #791b61;
    text-decoration: none;
}
.menu{
    float: right;
    padding: 4.5%;
}
img#logo{
    border-radius: 50%;
}
#botaosegpag{
    float: right;
    padding: 1%;
    margin-top: 3%;
    margin-right: 4%;
    color: black; 
}
/*botão*/
.botao{
    font-size: large;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #f0b5fc;
    box-shadow: #791b61 0 5px 5px;
    border-radius: 10px;
}
.botao:hover{
    font-size: large;
    cursor: pointer;
    background-color: #791b61;
    box-shadow: #5f0d4b 0 5px 5px;
    border-radius: 10px;
}
.botao:active{
    position: relative;
    top: 5px;
    box-shadow: none;
}
#botsaibamais{
    margin-left: 70%;
}
/*************************************************************************/
/*carrossel*/
/*Não estou conseguindo afastar com margin-right pois tive que usar float right na section*/
.carrossel{
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 40%;
    padding-bottom: 0;    
    height: 293px;
    width: 30%;
}
.carrossel li{
    list-style: none;
    position: absolute;
}
.carrossel img{
    margin: auto;
    vertical-align: top;
    width: 100%;
    height: 100%;
    border-radius: 10%;
}
.carrossel input{
    display: none;
}
.carrossel label{
    background-color: #000;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}
.carrossel li:nth-child(1) label{
    left: 10px;
}
.carrossel li:nth-child(2) label{
    left: 40px;
}
.carrossel li:nth-child(3) label{
    left: 70px;
}
.carrossel li:nth-child(4) label{
    left: 90px;
}
.carrossel img{
    opacity: 0;
    visibility: hidden;
}
.carrossel li input:checked ~ img{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}
section#sec1{
    float: right;
    width: 38%;
    font-family: Arial, Helvetica, sans-serif;
}
.texto{
    text-align: justify;
    color:black;
}
/**************************************************************/
.divcompras{
    color:#5f0d4b;
    border: 2px solid #791b61;
    margin: 20px auto;
    padding: 6px 6px 15px 6px;
}
/*Elementos do formulário*/
.listacompras{
    float: right;
    width: 230px;
    height: 230px;
    margin-top: 8px;
    margin-left: 10px;
}
.colLabSelProd{
    width: 260px;
    height: 40px;
    float: left;
}
.colSelProd{
    width: 160px;
    float: right;
}
.linhaProdSel{
    float: left;
    width: 250px;
    margin-bottom: 6px;
}
.elemEsq{
    float: left;
    display: block;
    background-color: #f0b5fc;
    box-shadow: #791b61 0 5px 5px;
    border-radius: 10px;
    font-size: large;
}
.elemDir{
    float: right;
    display: block;
}
.mensagemform{
      border-image-source: url("Imagens/BordaparahtmlDNZ.png");
      border-image-slice: 30;
}



